/**
 * Fichier .env.example
 * Exemple de configuration des variables d environnement
 */
PORT=3001
JWT_SECRET=votre-cle-secrete-jwt
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/JJK_messenger
NODE_ENV=development
